.categories-section {
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
      margin-bottom: 20px;
      position: relative;
      min-width: 175px;
      height: 180px;
      img {
        width: 100%;
      }
      a {
        font-size: 18px;
        font-weight: bold;
      }
      span {
        position: absolute;
        top: 8px;
        left: 15px;
      }
    }
  }
}
