.info-section {
  padding-bottom: 490px;
  background-image: url("../../../public/image/logo-back.png");
  background-repeat: no-repeat;
  background-position: 50% 80%;
  h2 {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    color: #4a755b;
  }
  .list-info {
    display: flex;
    flex-direction: column;
    li {
      padding: 10px 0;
      font-weight: 700;
      font-size: 20px;
      color: #4a755b;
      border-top: 1px solid #4a755b;
      a:focus {
        color: #59c080;
      }
      a:hover {
        color: #59c080;
      }
      a:active {
        color: #59c080;
      }
    }
  }
}
