.fag-section {
  padding-bottom: 170px;
  // background-image: url(/../src/image/logo-back.png);
  background-repeat: no-repeat;
  background-position: 50% 80%;
  h2 {
    margin-bottom: 40px;
  }
}
.text-block {
  margin-bottom: 20px;
  span {
    font-weight: bold;
  }
}
